{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado de Cálculo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablas.css' %}">
</head>
<body>
    {% if request.session.estadoSesion %}
    {% if request.session.permisos == 'Contador' or request.session.permisos == 'Auxiliar Contable' or request.session.permisos == 'RRHH' or request.session.permisos == 'Admin' or request.session.permisos == 'Empleado General' %}
    <div class="contenedor">
        <h3>Resultado de Cálculo nomina:  {{ empleado.primer_nombre }}  {{ empleado.primer_apellido }} </h3>
        <h3>fecha:  {{ fecha }}</h3> 

        <!-- Tabla de Devengos -->
        <h2>Devengos</h2>
        <table>
            <tr>
                <th>Transporte</th>
                <th>Cesantías</th>
                <th>Intereses de Cesantías</th>
                <th>Antiguedad</th>
                <th>Vacaciones</th>
                <th>Días de Vacaciones</th>
                <th>Horas Extras Diurnas</th>
                <th>Horas Extras Nocturnas</th>
                <th>Horas Extras Diurnas Festivas</th>
                <th>Horas Extras Nocturnas Festivas</th>
            </tr>
            <tr>
                <td>{{ transporte|floatformat:"0" }}</td>
                <td>{{ cesantias|floatformat:"0" }}</td>
                <td>{{ intereses_cesantias|floatformat:"0" }}</td>
                <td>Ingreso: {{ empleado.fecha_ingreso }},</br> {{ calculo.antiguedad|floatformat:"0" }} dias de antiguedad</td>
                <td>{{ valor_vacaciones|floatformat:"0" }}</td>
                <td>{{ dias_vacaciones|floatformat:"0" }}</td>
                <td>{{ HorasExDiu|floatformat:"0" }}</td>
                <td>{{ HorasExNoc|floatformat:"0" }}</td>
                <td>{{ HorasExFestivaDiu|floatformat:"0" }}</td>
                <td>{{ HorasExFestivaNoc|floatformat:"0" }}</td>
            </tr>
        </table>

        <!-- Tabla de Deducciones -->
        <h2>Deducciones</h2>
        <table>
            <tr>
                <th>Salud</th>
                <th>Pensión</th>
            </tr>
            <tr>
                <td>{{ salud }}</td>
                <td>{{ pension }}</td>
            </tr>
        </table>

        <!-- Tabla de Pagos que realiza la Empresa -->
        <h2>Pagos que realiza la Empresa</h2>
        <table>
            <tr><th>Salud</th>
                <th>Pension</th>
                <th>ARL</th>
                <th>SENA</th>
                <th>ICBF</th>
                <th>Caja de Compensación</th>
            </tr>
            <tr><td>{{ calculo.salud_empeador|floatformat:"0" }}</td>
                <td>{{ calculo.pension_empleador|floatformat:"0" }}</td>
                <td>{{ arl|floatformat:"0" }}</td>
                <td>{{ sena|floatformat:"0" }}</td>
                <td>{{ ICBF|floatformat:"0" }}</td>
                <td>{{ CajaCompensa|floatformat:"0" }}</td>
            </tr>
        </table>

        <!-- Total a pagar -->
        <h2>Total a pagar</h2>
        <table>
            <tr>
                <td>{{ salario_total|floatformat:"0" }}</td>
            </tr>
        </table>




    {% else %}
      <h1>El usuario no tiene permisos suficientes</h1>
    {% endif %}
  {% else %}
    <h1>El usuario no ha iniciado sesión</h1>
    <a class="link" href="{% url 'loginEmpresa' %}">Iniciar sesión</a>
  {% endif %}
        <br>
        <div class="volverB">
            {% if request.session.permisos == 'Contador' or request.session.permisos == 'Auxiliar Contable' or request.session.permisos == 'RRHH' or request.session.permisos == 'Admin' %}
            <a class="a" href="{% url 'todos_los_calculos' empleado.numero_identificacion %}">Volver a ver nominas </a>
            {% endif %}
       
        </div>
        <div class="volverB">
            {% if request.session.permisos == 'Empleado General' %}
            <a class="a" href="{% url 'todos_los_calculos' empleado.numero_identificacion %}">Volver a ver nominas </a>
            {% endif %}
            <a class="link" href="{% url 'ListarEmpresa' %}" class="btn btn-info">Volver a empresas</a>
            <br>
        </div>
            {% if request.session.permisos == 'RRHH' or request.session.permisos == 'Contador' or request.session.permisos == 'Auxiliar Contable' %}
            <a class="link" href="{% url 'ListarEmpleados' empleado.empresa.nit %}" class="btn btn-info">Volver a empleados</a>
            {% endif %}
    </div>
</body>
</html>
